In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm

In [5]:
df = pd.read_csv("Books.csv")
df.head()

,TITLE,RATING,PRICE,STOCK,BOOK LINK,IMAGE LINK
0,A Light in the Attic,Three,£51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,£53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,£50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,£47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,£54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [37]:
data = []
for link in tqdm(df["BOOK LINK"]):
    res = requests.get(link)
    soup = BeautifulSoup(res.text, "html.parser")
    type = soup.find("ul", class_ = "breadcrumb").find_all("a")[2].text # we need to find the anchor tag whichs stores the type of the book
    upc = soup.find("table", class_ = "table table-striped").find_all("td")[0].text
    exctax = soup.find("table", class_ = "table table-striped").find_all("td")[2].text[1:]
    inctax = soup.find("table", class_ = "table table-striped").find_all("td")[3].text[1:]
    tax = soup.find("table", class_ = "table table-striped").find_all("td")[4].text[1:]
    avbl = soup.find("table", class_ = "table table-striped").find_all("td")[5].text
    revno = soup.find("table", class_ = "table table-striped").find_all("td")[6].text
    data.append([type, exctax, inctax, tax, avbl, upc, revno])

100%|██████████| 1000/1000 [22:30<00:00,  1.35s/it]

In [38]:
dff = pd.DataFrame(data, columns = ["CATEGORY", "PRICE (EXCL. TAX)", "PRICE (INCL. TAX)", "TAX", "AVAILIABILITY", "UPC", "NO. OF REVIEWS"])

In [39]:
dff.head()

,CATEGORY,PRICE (EXCL. TAX),PRICE (INCL. TAX),TAX,AVAILIABILITY,UPC,NO. OF REVIEWS
0,Poetry,£51.77,£51.77,£0.00,In stock (22 available),a897fe39b1053632,0
1,Historical Fiction,£53.74,£53.74,£0.00,In stock (20 available),90fa61229261140a,0
2,Fiction,£50.10,£50.10,£0.00,In stock (20 available),6957f44c3847a760,0
3,Mystery,£47.82,£47.82,£0.00,In stock (20 available),e00eb4fd7b871a48,0
4,History,£54.23,£54.23,£0.00,In stock (20 available),4165285e1663650f,0

In [40]:
dff.isnull().sum()

CATEGORY             0
PRICE (EXCL. TAX)    0
PRICE (INCL. TAX)    0
TAX                  0
AVAILIABILITY        0
UPC                  0
NO. OF REVIEWS       0
dtype: int64

In [41]:
dff.to_csv("Data.csv", index = False)